<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Employee Details !!!</title>
    <link rel="stylesheet" href="{% static "css/emp.css"%}"
  </head>
  <body>
    <h1>Employee Details !!!</h1>
    <ol>
      <li>The Id of the Emplyee is  : {{id}}</li>
      <li>The Name of the Employee is : {{name}}</li>
      <li>The Employee Salary : {{salary}}</li>
      <li>The Designation of the Employee is  : {{Designation}}</li>
    </ol>

<img src="{% static "images/test3.jpg"%}"/>

  </body>
</html>
