<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Employees List !!!!</h1>


{% if passengerlist %}
<table>
<thead>
  <th>First Name </th>
  <th>Last Name </th>
  <th>Email id </th>
  <th>Reward Point </th>
</thead>
{% for emp in passengerlist %}
    <tr>
     <td>{{emp.firstName}}</td>
     <td>{{emp.lastName}}</td>
     <td>{{emp.emailId}}</td>
     <td>{{emp.rewardPoint}}</td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>No record Found !!!</p>
{% endif %}
</body>
</html>
